.exp {
  /* grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  min-height: 600px;
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 65vh;
  /* min-width: 60vw; */
}

/* .expintro {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  
    align-self: center;
    margin: 1em;
  } */

.expdesc {
  /* grid-column: 2 / span 1;
  grid-row: 1 / span 1; */
  flex-basis: 70%;
}
.explist {
  /* grid-column: 1 / span 1;
  grid-row: 1 / span 1; */
  flex-basis: 30%;
}

.jobemployer {
  color: rgb(165, 164, 164);
  margin-left: 1em;
  flex-basis: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.jobemployer::before{
content: "@";
margin-right: 5px;
}

.exphead {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin-left: 1em;
}
.head{
  display: flex;
  flex-direction: row;
}

.jobpos {
  color: white;
  flex-basis: 35%;
}
.jobdur {
  font-size: 1em;
  color: rgb(165, 164, 164);
}

.explist > .companylist {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.explist > .companylist > button {
  padding: 0.5em;
  background-color: rgb(36, 36, 36);
  color: rgb(165, 164, 164);

  margin: 0.5em;
  border-radius: 45px;
  outline:none;
  max-width: 270px;
  /* max-width: 250px;
  height: 40px; */
  overflow: hidden;

}
.explist > .companylist > button:hover {
  background-color: rgb(46, 44, 41);
}
/* 
.explist > ul > li > button {
  outline: none;
} */
.expduties{
  max-height: 300px;
  overflow-y: auto;
}
.expduties > ul > li {
  margin: 0px;
  font-size: 1em;
  list-style-type: circle;
}
.to::after {
  content: " - ";
  color: rgb(165, 164, 164);;
}
.selected {
  color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (max-width: 600px) {
  .exp {
    flex-direction: column;
  }
  .explist > .companylist {
    flex-direction: row;

  }
  .explist > .companylist >button {
    width: 200px;
  }

  .explist {
    /* grid-column: 1 / span 1;
    grid-row: 1 / span 1; */
    flex-basis: auto;
  }
}
